body {
  padding: 0;
  margin: 0;
  background: var(--white);
}

h1, h2, h3, h4, h5, h6, p, ul, menu, span {
  padding: 0;
  margin: 0;
}

ul, menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

.social-networks, .footer__navigation, .footer__main-grop, .footer__content, .subscribe-form__input-container, .newsletter__content, .clients-card__user, .clients__card-group, .clients__content, .bestsellers__content, .our-products__gallery, .our-products__content, .menu__animation-group, .menu__item, .menu__list, .menu__content, .statistics__card, .statistics, .about-us__decor-title-group, .subscribe__button, .banner__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --white: #FFF;
  --light-blue: #F7FAFF;
  --blue-font: #0A224A;
  --blue-font--hover: #061835;
  --light-grey: #7A7A7A;
  --dark-grey: #B6B6B6;
  --grey: #D9D9D9;
}

.header {
  margin: 0;
  padding: 26px 0;
  background: var(--light-blue);
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__image {
  width: 127px;
  height: 16px;
}

.navigation {
  padding: 8px;
}
.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.navigation__link {
  color: var(--blue-font);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.navigation__link:hover {
  display: block;
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.2s linear;
}

.menu-icon {
  display: none;
}

@media (max-width: 1024px) {
  .menu-icon {
    display: block;
    width: 34px;
    height: 24px;
    position: relative;
    cursor: pointer;
  }
  .menu-icon__line, .menu-icon::before, .menu-icon::after {
    position: absolute;
    height: 3px;
    width: 100%;
    transition: all 0.3s linear;
    background-color: var(--blue-font);
    border-radius: 20px;
  }
  .menu-icon__line, .menu-icon::before, .menu-icon::after {
    content: "";
  }
  .menu-icon::before {
    top: 22%;
  }
  .menu-icon::after {
    bottom: 35%;
  }
  .menu-icon__line:nth-child(1) {
    top: 0;
  }
  .menu-icon__line:nth-child(2) {
    bottom: 0;
  }
  .menu-icon__line {
    transform: scale(1) translate(0, -50%);
  }
  .menu-icon._active {
    z-index: 20;
  }
  .menu-icon._active span {
    transform: scale(0) translate(0, -50%);
  }
  .menu-icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .menu-icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .navigation {
    padding: 0;
  }
  .navigation__list {
    flex-direction: column;
  }
  .menu-body {
    position: fixed;
    left: 0;
    top: 95px;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 150px 0;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: white;
    transform: translate(-100%, 0px);
    transition: right 0.3s ease 0s;
  }
  .menu-body._active {
    transform: translate(0px, 0px);
  }
  body._lock {
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 35px 0;
    background: var(--light-blue);
  }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo__image {
    width: 100px;
  }
  .menu-icon {
    width: 24px;
    height: 16px;
  }
  .menu-icon__line, .menu-icon::before, .menu-icon::after {
    height: 2px;
  }
  .menu-body {
    top: 88px;
    padding: 122px 0 0 0;
  }
  .navigation__list {
    gap: 17px;
  }
  .navigation__link {
    font-size: 16px;
    line-height: 24px;
  }
}
.banner {
  margin: 0;
  padding: 64px 0 50px 0;
}
.banner__content {
  position: relative;
}
.banner__title {
  position: absolute;
  top: 0;
  left: 15px;
  width: 648px;
  color: var(--blue-font);
  font-family: "Playfair Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px;
  text-transform: uppercase;
}
.banner__grid {
  display: grid;
  grid-template-columns: 310px 648px 312px;
  grid-template-rows: 176px 329px;
  gap: 25px;
}
.banner__first-image {
  width: 310px;
  height: 329px;
  grid-area: 2/1/3/2;
  background-image: url("../src/image/raster/banner_section/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner__second-image {
  width: 648px;
  height: 530px;
  grid-area: 1/2/3/3;
  background-image: url("../src/image/raster/banner_section/image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner__info-group {
  grid-area: 1/3/3/4;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
.banner__last-image {
  width: 312px;
  height: 337px;
  background-image: url("../src/image/raster/banner_section/image3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
.subscribe__text {
  color: var(--blue-font);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.subscribe__button {
  gap: 6px;
  padding: 13px 72px;
  background: var(--blue-font);
  color: var(--white);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.subscribe__button:hover {
  display: block;
  background: var(--blue-font--hover);
  transform: scale(1.05);
  transition: all 0.2s linear;
}

@media (max-width: 1024px) {
  .banner__grid {
    grid-template-columns: 308px 367px;
    grid-template-rows: 170px 329px 142px;
    gap: 32px;
  }
  .banner__first-image {
    width: 308px;
    height: 329px;
    grid-area: 2/1/3/2;
    background-image: url("../src/image/raster/banner_section/image1_tablet.jpg");
  }
  .banner__second-image {
    width: 367px;
    height: 531px;
    grid-area: 1/2/3/3;
    background-image: url("../src/image/raster/banner_section/image2_tablet.jpg");
  }
  .banner__info-group {
    grid-area: 3/1/4/2;
    gap: 0;
  }
  .banner__last-image {
    display: none;
  }
}
@media (max-width: 768px) {
  .banner {
    padding: 140px 0 313px 0;
    background-image: url("../src/image/raster/banner_section/mobile-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .banner__content {
    padding-top: 140px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .banner__title {
    width: 285px;
    font-size: 28px;
    line-height: 42px;
  }
  .banner__grid {
    display: block;
    box-sizing: content-box;
  }
  .banner__first-image {
    display: none;
  }
  .banner__second-image {
    display: none;
  }
  .subscribe {
    gap: 28px;
  }
  .subscribe__text {
    font-size: 16px;
    line-height: 24px;
  }
  .subscribe__button {
    padding: 13px 77px;
    font-size: 16px;
  }
}
.about-us {
  margin: 0;
  padding: 50px 0;
}
.about-us__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.about-us__info-card {
  padding: 36px 69px 34px 69px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
  background: var(--light-blue);
}
.about-us__decor-title-group {
  gap: 20px;
}
.about-us__decor-line {
  width: 30px;
  height: 1px;
  flex-shrink: 0;
  background-color: var(--blue-font);
}
.about-us__decor-title {
  color: var(--blue-font);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.about-us__title {
  width: 622px;
}
.about-us__paragraf {
  width: 622px;
  color: var(--blue-font);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.about-us__image {
  width: 536px;
  height: 540px;
  flex-shrink: 0;
}

.statistics {
  gap: 55px;
}
.statistics__card {
  flex-direction: column;
  gap: 20px;
}
.statistics__percent {
  color: var(--blue-font);
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px;
  text-transform: uppercase;
}
.statistics__name {
  width: 170px;
  color: var(--blue-font);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

@media (max-width: 1024px) {
  .about-us__content {
    flex-wrap: wrap;
    gap: 30px;
  }
  .about-us__info-card {
    padding: 36px 64px 64px 64px;
  }
  .about-us__title {
    width: 576px;
  }
  .about-us__paragraf {
    width: 576px;
  }
  .about-us__image {
    width: 100%;
    height: 540px;
    flex-shrink: 0;
  }
  .statistics {
    gap: 33px;
  }
  .statistics__card {
    gap: 14px;
  }
}
@media (max-width: 768px) {
  .about-us {
    padding: 0;
  }
  .about-us__content {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 0;
  }
  .about-us__info-card {
    width: 100%;
    padding: 64px 16px;
  }
  .about-us__title {
    width: 343px;
  }
  .about-us__paragraf {
    width: 343px;
    font-size: 16px;
    line-height: 24px;
  }
  .about-us__image {
    height: 400px;
  }
  #about-us__container {
    width: 100%;
  }
  .statistics {
    flex-direction: column;
    align-self: center;
    gap: 30px;
  }
  .statistics__name {
    font-size: 16px;
    line-height: 24px;
  }
}
.menu {
  margin: 0;
  padding: 50px 0;
}
.menu__list {
  width: 1096px;
  flex-direction: column;
  gap: 30px;
}
.menu__item {
  width: 100%;
}
.menu__item--line {
  width: 1096px;
  height: 1px;
  background: var(--blue-font);
}
.menu__link {
  display: block;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__link:hover .menu__animation-group {
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}
.menu__animation-container {
  overflow: hidden;
}
.menu__animation-group {
  gap: 30px;
  transform: translateX(-80px);
}
.menu__line {
  width: 50px;
  height: 3px;
  flex-shrink: 0;
  background: var(--blue-font);
}
.menu__product-name {
  color: var(--blue-font);
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
}
.menu__price {
  color: var(--blue-font);
  text-align: right;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}

@media (max-width: 1024px) {
  .menu__list {
    width: 100%;
  }
  .menu__item--line {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .menu {
    padding: 64px 0 32px 0;
  }
  .menu__animation-group {
    gap: 14px;
    transform: translateX(-54px);
  }
  .menu__line {
    width: 40px;
  }
  .menu__product-name {
    font-size: 28px;
    line-height: 42px;
  }
  .menu__price {
    font-size: 16px;
    line-height: 24px;
  }
}
.our-products {
  margin: 0;
  padding: 50px 0;
}
.our-products__content {
  flex-direction: column;
  gap: 30px;
}
.our-products__gallery {
  gap: 24px;
}
.our-products__card {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 15px;
  animation: party 8s linear infinite;
}
.our-products__card:hover {
  transform: scale(0.9);
  opacity: 0.8;
  transition: all 0.3s linear;
}
.our-products__card:nth-child(1) {
  animation: party 8s linear infinite;
}
.our-products__card:nth-child(1):hover {
  animation: none;
}
.our-products__card:nth-child(2) {
  animation: party 8s linear 2s infinite;
}
.our-products__card:nth-child(2):hover {
  animation: none;
}
.our-products__card:nth-child(3) {
  animation: party 8s linear 4s infinite;
}
.our-products__card:nth-child(3):hover {
  animation: none;
}
.our-products__card:nth-child(4) {
  animation: party 8s linear 6s infinite;
}
.our-products__card:nth-child(4):hover {
  animation: none;
}
.our-products__card:nth-child(1) .our-products__image {
  background-image: url("../src/image/raster/our-products_section/product1.jpg");
}
.our-products__card:nth-child(2) .our-products__image {
  background-image: url("../src/image/raster/our-products_section/product2.jpg");
}
.our-products__card:nth-child(3) .our-products__image {
  background-image: url("../src/image/raster/our-products_section/product3.jpg");
}
.our-products__card:nth-child(4) .our-products__image {
  background-image: url("../src/image/raster/our-products_section/product4.jpg");
}
.our-products__image {
  width: 312px;
  height: 300px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.our-products__card-title {
  color: var(--blue-font);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

@keyframes party {
  20% {
    transform: scale(1.02);
    transition: transform 0.3s linear;
  }
  30% {
    transform: translate(0, -20px);
    transition: transform 0.3s linear;
  }
  35% {
    transform: rotate(5deg);
    transition: transform 0.15s linear;
  }
  37% {
    transform: rotate(-5deg);
    transition: transform 0.15s linear;
  }
  40% {
    transform: translate(0, 0);
    transition: transform 0.3s linear;
  }
}
@keyframes not-party {
  0% {
    transform: scale(0.9);
  }
}
@media (max-width: 1024px) {
  .our-products__gallery {
    gap: 16px;
  }
  .our-products__card {
    gap: 15px;
  }
  .our-products__card:nth-child(3) {
    display: none;
  }
  .our-products__card:nth-child(4) {
    display: none;
  }
  .our-products__image {
    width: 344px;
  }
}
@media (max-width: 768px) {
  .our-products {
    padding: 32px 0;
  }
  .our-products__content {
    gap: 33px;
  }
  .our-products__gallery {
    gap: 0px;
  }
  .our-products__card {
    gap: 16px;
  }
  .our-products__card:nth-child(2) {
    display: none;
  }
  .our-products__image {
    width: 343px;
  }
  .our-products__card-title {
    font-size: 16px;
    line-height: 24px;
  }
}
.bestsellers {
  margin: 0;
  padding: 50px 0 100px 0;
}
.bestsellers__content {
  flex-direction: column;
  gap: 30px;
}
.bestsellers__showcase {
  display: grid;
  grid-template-columns: 536px repeat(2, 258px);
  grid-template-rows: repeat(2, 266px);
  grid-column-gap: 22px;
  grid-row-gap: 30px;
}
.bestsellers__card {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}
.bestsellers__card:hover {
  transform: scale(1.05);
  transition: all 0.2s linear;
}
.bestsellers__card:nth-child(1) {
  grid-area: 1/1/3/2;
}
.bestsellers__card:nth-child(2) {
  grid-area: 1/2/2/3;
}
.bestsellers__card:nth-child(2) .bestsellers__image {
  background-image: url("../src/image/raster/bestsellers_section/product2.jpg");
}
.bestsellers__card:nth-child(3) {
  grid-area: 1/3/2/4;
}
.bestsellers__card:nth-child(3) .bestsellers__image {
  background-image: url("../src/image/raster/bestsellers_section/product3.jpg");
}
.bestsellers__card:nth-child(4) {
  grid-area: 2/2/3/3;
}
.bestsellers__card:nth-child(4) .bestsellers__image {
  background-image: url("../src/image/raster/bestsellers_section/product4.jpg");
}
.bestsellers__card:nth-child(5) {
  grid-area: 2/3/3/4;
}
.bestsellers__card:nth-child(5) .bestsellers__image {
  background-image: url("../src/image/raster/bestsellers_section/product5.jpg");
}
.bestsellers__main-image {
  width: 536px;
  height: 489px;
  flex-shrink: 0;
  background-image: url("../src/image/raster/bestsellers_section/product1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bestsellers__image {
  width: 258px;
  height: 193px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bestsellers__text-group {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}
.bestsellers__product-name {
  color: var(--blue-font);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.bestsellers__product-price {
  color: var(--blue-font);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}

@media (max-width: 1024px) {
  .bestsellers__showcase {
    grid-template-columns: repeat(2, 336px);
    grid-template-rows: 562px repeat(2, 266px);
    gap: 32px;
  }
  .bestsellers__card {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
  }
  .bestsellers__card:nth-child(1) {
    grid-area: 1/1/2/3;
  }
  .bestsellers__card:nth-child(2) {
    grid-area: 2/1/3/2;
  }
  .bestsellers__card:nth-child(3) {
    grid-area: 2/2/3/3;
  }
  .bestsellers__card:nth-child(4) {
    grid-area: 3/1/4/2;
  }
  .bestsellers__card:nth-child(5) {
    grid-area: 3/2/4/3;
  }
  .bestsellers__main-image {
    width: 704px;
    height: 489px;
  }
  .bestsellers__image {
    width: 336px;
    height: 193px;
  }
}
@media (max-width: 768px) {
  .bestsellers {
    padding: 32px 0 64px 0;
  }
  .bestsellers__content {
    gap: 21px;
  }
  .bestsellers__showcase {
    grid-template-columns: 343px;
    grid-template-rows: repeat(3, 265px);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
  }
  .bestsellers__card {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 14px;
  }
  .bestsellers__card:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  .bestsellers__card:nth-child(2) {
    grid-area: 2/1/3/2;
  }
  .bestsellers__card:nth-child(3) {
    grid-area: 3/1/4/2;
  }
  .bestsellers__card:nth-child(4) {
    display: none;
  }
  .bestsellers__card:nth-child(5) {
    display: none;
  }
  .bestsellers__main-image {
    width: 343px;
    height: 193px;
  }
  .bestsellers__image {
    width: 343px;
  }
  .bestsellers__product-name {
    font-size: 16px;
    line-height: 24px;
  }
  .bestsellers__product-price {
    font-size: 16px;
    line-height: 24px;
  }
}
.clients {
  margin: 0;
  padding: 60px 0;
  background: var(--light-blue);
}
.clients__content {
  flex-direction: column;
  gap: 30px;
}
.clients__card-group {
  gap: 24px;
}

.clients-card {
  padding: 32px;
  border-radius: 8px;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 16px;
}
.clients-card__user {
  gap: 14px;
}
.clients-card__user-image {
  width: 56px;
  height: 56px;
}
.clients-card__user-info {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 4px;
}
.clients-card__name {
  color: var(--blue-font);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
}
.clients-card__time {
  color: var(--blue-font);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.8;
}
.clients-card__massage {
  width: 360px;
  color: var(--blue-font);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

@media (max-width: 1024px) {
  .clients {
    padding: 36px 0;
  }
  .clients__card-group {
    gap: 16px;
  }
  .clients-card {
    padding: 24px;
    gap: 14px;
  }
  .clients-card:nth-child(3) {
    display: none;
  }
  .clients-card__massage {
    width: 296px;
  }
}
@media (max-width: 768px) {
  .clients {
    padding: 36px 0;
  }
  .clients-card {
    gap: 24px;
  }
  .clients-card:nth-child(2) {
    display: none;
  }
  .clients-card__user-image {
    width: 48px;
    height: 48px;
  }
  .clients-card__user-info {
    gap: 2px;
  }
  .clients-card__name {
    font-size: 18px;
    line-height: 32px;
  }
  .clients-card__time {
    font-size: 14px;
  }
  .clients-card__massage {
    font-size: 14px;
    line-height: 20px;
  }
}
.newsletter {
  margin: 0;
  padding: 100px 0 86px 0;
}
.newsletter__content {
  gap: 100px;
}
.newsletter__main-group {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.newsletter__text-box {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
.newsletter__paragraf {
  width: 536px;
  color: var(--blue-font);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.newsletter__image {
  width: 460px;
  height: 410px;
  flex-shrink: 0;
  background-image: url("../src/image/raster/newsletter_section/sofa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 32px;
}
.subscribe-form__input-group {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.subscribe-form__input-container {
  gap: 8px;
  color: var(--light-grey);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.subscribe-form__input {
  display: flex;
  width: 536px;
  height: 50px;
  padding: 11px 20px;
  align-items: flex-start;
  border: 1px solid var(--dark-grey);
  color: var(--grey);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  outline: none;
}
.subscribe-form__input:focus-visible {
  color: var(--blue-font);
  border: 1px solid var(--blue-font);
}
.subscribe-form__checkbox {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border: 1px solid var(--dark-grey);
  border-radius: 0px;
  accent-color: var(--blue-font);
  font-size: 13px;
}
.subscribe-form__button {
  color: var(--white);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 13px 92px;
  background: var(--blue-font);
  border: none;
}
.subscribe-form__button:hover {
  background: var(--blue-font--hover);
  transform: scale(1.1);
  transition: all 0.2s linear;
}

@media (max-width: 1024px) {
  .newsletter {
    padding: 100px 0;
  }
  .newsletter__content {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 64px;
  }
  .newsletter__image {
    width: 704px;
    height: 396px;
    background-image: url("../src/image/raster/newsletter_section/sofa_tablet.jpg");
  }
  .subscribe-form {
    gap: 30px;
  }
  .subscribe-form__input-group {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .newsletter {
    padding: 64px 0;
  }
  .newsletter__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .newsletter__image {
    width: 343px;
    height: 300px;
    flex-shrink: 0;
    background-image: url("../src/image/raster/newsletter_section/sofa.jpg");
  }
  .newsletter__main-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .newsletter__text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .newsletter__paragraf {
    width: 343px;
    font-size: 16px;
    line-height: 24px;
  }
  .subscribe-form__input-container {
    font-size: 16px;
    line-height: 24px;
  }
  .subscribe-form__input {
    width: 343px;
    height: 50px;
    font-size: 16px;
    line-height: 24px;
  }
  .subscribe-form__button {
    font-size: 16px;
    padding: 13px 94px;
  }
}
.footer {
  margin: 0;
  padding: 36px 0;
  background: var(--blue-font);
}
.footer__content {
  flex-direction: column;
  gap: 35px;
}
.footer__main-grop {
  width: 100%;
  flex-direction: column;
  gap: 24px;
}
.footer__console {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__navigation {
  gap: 209px;
}
.footer__information {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 87px;
}
.footer__address-group {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 24px;
}
.footer__address-link {
  color: var(--white);
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.19px;
}
.footer__address-link:hover {
  display: block;
  opacity: 0.8;
  transform: translateX(5px);
  transition: all 0.2s linear;
}
.footer__work-hours {
  color: var(--white);
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.19px;
}
.footer__contact-group {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 82px;
}
.footer__phone-box {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 24px;
}
.footer__contact {
  color: var(--white);
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.19px;
}
.footer__contact:hover {
  display: block;
  opacity: 0.8;
  transform: translateX(5px);
  transition: all 0.2s linear;
}
.footer__email {
  color: var(--white);
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.19px;
}
.footer__email:hover {
  display: block;
  opacity: 0.8;
  transform: translateX(5px);
  transition: all 0.2s linear;
}
.footer__policy {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.188px;
  opacity: 0.6;
}
.footer__policy-link {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.188px;
  text-decoration-line: underline;
}
.footer__policy-link:hover {
  opacity: 0.6;
}

.navigation__link--footer {
  color: var(--white);
}

.social-networks {
  gap: 30px;
}
.social-networks__link {
  width: 40px;
  height: 40px;
  fill: var(--white);
}
.social-networks__link:hover {
  display: block;
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.2s linear;
}

@media (max-width: 1024px) {
  .footer__content {
    gap: 64px;
  }
  .footer__main-grop {
    gap: 20px;
  }
  .footer__console {
    position: relative;
  }
  .footer__information {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 64px;
  }
  .footer__contact-group {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 24px;
  }
  .navigation--footer {
    position: absolute;
    top: 0px;
    right: 214px;
  }
  .navigation__list--footer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
  }
  .social-networks {
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 36px 0 16px 0;
  }
  .footer__main-grop {
    gap: 36px;
  }
  .footer__console {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .footer__navigation {
    padding-top: 6px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 42px;
  }
  .footer__information {
    gap: 35px;
  }
  .footer__address-group {
    gap: 8px;
  }
  .footer__address-link {
    font-size: 16px;
  }
  .footer__work-hours {
    font-size: 16px;
  }
  .footer__contact-group {
    gap: 0px;
  }
  .footer__phone-box {
    gap: 8px;
  }
  .footer__contact {
    font-size: 16px;
  }
  .footer__email {
    display: none;
  }
  .footer__policy {
    text-align: center;
    font-size: 12px;
    line-height: 14px;
  }
  .footer__policy-link {
    font-size: 12px;
    line-height: 14px;
  }
  .navigation__link--footer {
    font-size: 16px;
    line-height: 24px;
  }
  .navigation--footer {
    position: static;
  }
  .navigation__list--footer {
    padding: 0;
    gap: 8px;
  }
  .social-networks__link {
    width: 28px;
    height: 28px;
  }
}
.main-title {
  color: var(--blue-font);
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .container {
    width: 734px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 373px;
  }
  .main-title {
    font-size: 28px;
    line-height: 42px;
  }
}