body {
    padding: 0;
    margin: 0;
    background: var(--white);
}
h1, h2, h3, h4, h5, h6, p, ul, menu, span {
    padding: 0;
    margin: 0;
}
ul, menu {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}
@import
'utils/mixin', 
'utils/placholder', 
'utils/variables';
@import
'components/header', 
'components/banner',
'components/about-us', 
'components/menu', 
'components/our-products',
'components/bestsellers',
'components/clients',
'components/newsletter',
'components/footer';
.main-title {
    color: var(--blue-font);
    font-family: $main-fonts;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; 
    text-transform: uppercase;
}
// Tablet
@media (max-width: 1024px) {
    .container {
        width: 734px;
    }
}
// Mobile
@media (max-width: 768px) {
    .container {
        width: 373px;
    }
    .main-title {
        font-size: 28px;
        line-height: 42px; 
    }
}