:root {
    --white: #FFF;
    --light-blue: #F7FAFF;
    --blue-font: #0A224A;
    --blue-font--hover: #061835;
    --light-grey: #7A7A7A;
    --dark-grey: #B6B6B6;
    --grey: #D9D9D9;
}
$main-fonts: Roboto;
$decor-fonts: "Playfair Display";